.login{
  height: 93vh;
  overflow-y: hidden;
// ;
        margin-top: 50px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  .left{
      background:url('../../imgs/login.jpg');
      background-position: center;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      h1{
          text-transform:uppercase;
          color:#fff;
          width: 60%;
          text-align: center;
          font-size: 3em;
          font-weight: bold;
      }
  }
.right  {
    p{
        width: 60%;
    }
  padding:10% 5%;
  padding-bottom: 20%;
     display: grid;
     grid-row-gap: 20px;
  form{
    width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 25px;
      .agreement{
          display: grid;
          grid-row-gap:30px;
          p{
              width: 100%;
          }
      }
  }

}

}
.auth-form-item{
    display: grid;
    label{
        margin-bottom: 2px;
    }
    input{
        width:80%;
        padding: 5px;
    }
    
}