// .location {
//   height: 80vh;
//   padding: 10px 5%;

//   display: grid;
//   grid-template-columns: 1fr;
//   grid-gap: 10px;
//   .upper,
//   .lower {
//     display: grid;
//     grid-gap: 20px;
//     grid-template-columns: 1fr 1fr 1fr;
//   }
//   .lower {
//     grid-template-columns: 1fr 1fr;
//   }
// }

.location {
  padding: 30px 5%;
  h2,
  p {
    margin-bottom: 16px;
  }
}
.locationCardWrapper {
  display: grid;
  grid-gap: 15px;
}
.upper,
.lower {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}
.lower {
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 480px) {
  .upper,
  .lower {
    grid-template-columns: 1fr;
  }
}
