.register {
  height: 93vh;
  overflow-y: hidden;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  .left {
    background: url("../../imgs/register.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      text-transform: uppercase;
      color: #fff;
      width: 60%;
      text-align: center;
      font-size: 3em;
      font-weight: bold;
    }
  }
  .right {
    overflow-x: visible;
    font-size: 80%;
    p {
      width: 60%;
    }
    padding: 10% 5%;

    display: grid;

    form {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 25px;
      .agreement {
        width: 100%;

        div {
          display: flex;
          align-items: center;
          padding: 10px 0px;

          p {
            width: 100%;
            padding-left: 15px;
          }
        }
      }
    }
  }
}
.auth-form-item {
  display: grid;
  overflow-x: visible;

  label {
    overflow-x: visible;

    margin-bottom: 2px;
    font-size: 80%;
  }
  input {
    width: 80%;
    padding: 5px;
  }
}

@media screen and (max-width: 480px) {
  .register {
    display: block;
    background: url("../../imgs/register.jpg");
    background-position: center;
    background-size: cover;

    // align-items: center;
    // justify-content: center;

    .left {
      display: none;
    }
    .right {
      display: grid;
      grid-gap: 20px;
      padding: 50px 5%;
    }
  }
}
