.searchResults {
  background: #eaf0f3;
  margin-top: 50px;
  padding: 10px;
  padding-top: 0;
  .result-bar {
    height: 40px;
    padding: 7.5px;
    margin-left: -5%;
    width: 110%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0071c2;
  }
  .result-content {
    display: grid;
    padding: 5vw 10vw;
    grid-template-columns: 3fr 8fr;
    grid-column-gap: 50px;

    .filter {
      background-color: #fff;
      height: 75vh;
      padding: 20px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    .results {
      width: 100%;
      display: grid;
      grid-row-gap: 50px;
    }
  }
}
.price {
  display: grid;
  width: 90%;
  grid-template-columns: 1fr 1fr 1fr;

  div {
    border: 2px solid #003580;
    padding: 2.5px;
    text-align: center;
    border-right: 0px;
  }
  .last {
    border-right: 2px solid #003580;
  }
}
.sort {
  h2 {
    padding-bottom: 20px;
    display: inline;
    font-weight: 900;
  }
  span {
    font-size: 1.1em;
    font-weight: 900;
  }
}

@media screen and (max-width: 480px) {
  .searchResults {
    .result-content {
      grid-template-columns: 1fr;
      .filter {
        display: none;
      }
    }
  }
}
