.booking-wrapper {
  margin-top: 50px;
  h3 {
    padding: 30px 10%;
  }

  .booking {
    padding: 30px 10%;

    grid-column-gap: 50px;
    display: grid;
    grid-template-columns: 4fr 3fr;
  }
}
.booking {
  .left,
  .right {
    padding: 5%;
  }
  .left {
    background-color: aliceblue;
    h4 {
      //   font-size: 21px;
      padding: 40px 0px;
      padding-top: 20px;
    }
    form {
      // padding: 20px;
      grid-gap: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      div {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 75%;
        label {
          padding: 10px 0px;
        }

        input {
          padding: 10px;
          font-size: 80%;
        }
      }
      button {
        width: 150px;
      }
    }
    p {
      font-size: 70%;
    }
  }
  .right {
    .hotel-info {
      display: grid;
      grid-template-columns: 2fr 8fr;
      grid-gap: 10px;
      h4,
      p {
        font-size: 85%;
      }
      img {
        width: 130px;
      }
    }
    .booking-request {
      .up {
        background: green;
      }
    }
  }
}
.pay-button {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
