.browse {
  padding: 30px 5%;
  h2,
  p {
    margin-bottom: 16px;
  }
}
.browseCard-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
@media screen and (max-width: 480px) {
  .browseCard-container {
    display: block;
    div {
      img {
        width: 100%;
      }
    }
  }
}
